.order-success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    min-height: 80vh;
    gap: 15px;
    padding: 2rem 1rem;
  }
  
  .success-image {
    width: 120px;
    height: 120px;
  }
  
  .order-success-container h2 {
    color: green;
    font-size: 24px;
    margin: 10px 0;
  }
  
  .order-success-content-sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* min-height: 80vh; */
    background-color: #f8f8f8;
    padding: 4em ;
    gap: 15px;
  }
  
  .order-success-container p {
    font-size: 16px;
    color: #333;
  }
  
  .order-success-container-button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
  }
  
  .order-success-container button:hover {
    background-color: #218838;
  }
  