.home-container{
    /* padding: 30px; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
   
}

.home-container-2{
    background-color:#f0f8f3;
    padding: 2rem 1rem;
    margin-top: 25px;
}


.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    
}

.product-card {
    border: 1px solid #df3e3e;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

/* .add-to-cart-button{background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
} */

.add-to-cart-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.1s ease;
  }
  
  
  .add-to-cart-button:hover {
    background-color: #45a049;
  }
  
  
  .add-to-cart-button:active {
    transform: scale(0.95); 
    background-color: #3e9140; 
  }
  


.category-button{
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}